In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_and_test2.csv')
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [13]:
df.head()

,Age,Fare,Sex,zero.5,zero.6,Parch,zero.7,zero.8,zero.9,zero.10,zero.11,2urvived
0,22.0,7.2500,0,0,0,0,0,0,0,0,0,0
1,38.0,71.2833,1,0,0,0,0,0,0,0,0,1
2,26.0,7.9250,1,0,0,0,0,0,0,0,0,1
3,35.0,53.1000,1,0,0,0,0,0,0,0,0,1
4,35.0,8.0500,0,0,0,0,0,0,0,0,0,0

In [15]:
df.drop(['zero.5','zero.6','Parch','zero.7','zero.8','zero.9','zero.10','zero.11'], axis='columns',inplace=True)
df.head()

    Age     Fare  Sex  2urvived
0  22.0   7.2500    0         0
1  38.0  71.2833    1         1
2  26.0   7.9250    1         1
3  35.0  53.1000    1         1
4  35.0   8.0500    0         0

In [18]:
data = df.drop('2urvived', axis='columns')
target = df['2urvived']
target

0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: 2urvived, Length: 1309, dtype: int64

In [21]:
data.columns[data.isna().any()]

Index([], dtype='object')

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2)

In [23]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [24]:
model.fit(X_train, y_train)

GaussianNB()

In [25]:
model.score(X_test, y_test)

0.7709923664122137